In [1]:
# -*- coding:utf-8 -*-

### 5.2.2  Python存取MySQL数据

In [2]:
# 执行SQL语句

from sqlalchemy import create_engine
import pandas as pd
MYSQL_ADDR="127.0.0.1"

def run_sql(db_name, sql):
    print(sql)
    url = 'mysql+pymysql://xieyan:123456@{}:3306/{}?charset=utf8'.format(MYSQL_ADDR, 
         db_name)
    engine = create_engine(url, echo=False) # 创建数据库引擎
    cus = engine.connect() # 连接数据库
    ret = None
    try:
        ret = cus.execute(sql).fetchall() # 执行SQL语句
    except Exception as err:
        print("Error", err)
    cus.close()
    return ret

In [3]:
# 向数据库中写数据

def write_table_to_db(db_name, table_name, df):
    try:
        dbs = run_sql("", "show databases") # 列出所有库
        if (db_name,) not in dbs:
            run_sql("test_db", "create database {}".format(db_name))  # 建库
            print("create db")

        tables = run_sql("test_db", "show tables") # 列出库中所有表
        if (table_name,) in tables:
            run_sql('test_db', 'drop table {}'.format(table_name))  # 删表
            print("drop table")
        url  = 'mysql+pymysql://xieyan:123456@{}:3306/{}?charset=utf8'.format(\
                 MYSQL_ADDR, db_name)
        engine = create_engine(url, echo=False)
        conn = engine.connect()
        pd.io.sql.to_sql(df, table_name, con=conn, if_exists='fail') # 写入数据表
        conn.close()
        print("write ", len(df))
    except Exception as err:
        print("error", err)

dict1 = {'col1':[1,2,5,7],'col2':['a','b','c','d']}
df1 = pd.DataFrame(dict1)
write_table_to_db("test_db", "test_table_2", df1)

show databases
show tables
drop table test_table_2
Error This result object does not return rows. It has been closed automatically.
drop table
write  4

In [4]:
# 从数据库读数据

def read_table_from_db(db_name, sql, debug=False):
    url = 'mysql+pymysql://xieyan:123456@{}:3306/{}?charset=utf8'.format(\
          MYSQL_ADDR, db_name)
    engine = create_engine(url, echo=False)
    conn = engine.connect()
    if debug:
        print(sql)
    df = pd.read_sql(sql, conn) # 调用之前代码中定义的函数
    conn.close()
    return df # 返回数据表
 
df2 = read_table_from_db('test_db', 'select * from test_table_2')
print(df2)

   index  col1 col2
0      0     1    a
1      1     2    b
2      2     5    c
3      3     7    d

### 5.2.3  Python存取SQL Server数据库

In [5]:
from sqlalchemy import Table, MetaData, Column, String, create_engine, Integer, select

url = "mssql+pymssql://SA:Xy123456@127.0.0.1:1435/testme"
engine = create_engine(url, deprecate_large_types=True)
m = MetaData()
t = Table('test_table', m, Column('id', Integer, primary_key=True),
                Column('value', Integer))
m.drop_all(engine) # 为避免重复创建，先删除测试表
m.create_all(engine) # 创建测试表
engine.execute(t.insert(), {'id': 1, 'value':123}, {'id':2, 'value':234}) 
sql = select([t.c.value]) # 生成语句： SELECT test_table.value FROM test_table 
result = engine.execute(sql) # 运行语句
result.fetchall()

[(123,), (234,)]

### 5.2.4  Python存取Sqlite数据库

In [6]:
import sqlite3

conn = sqlite3.connect('test.db')
c = conn.cursor()
c.execute('''CREATE TABLE IF NOT EXISTS TIPS 
       (NAME           TEXT    NOT NULL,
       ADDRESS        CHAR(50),
       BILL         REAL);''') # 创建数据表
c.execute("INSERT INTO TIPS (NAME,ADDRESS,BILL) \
      VALUES ('Zhang', 'Beijing', 1004.00 )"); # 向表中输入数据
cursor = c.execute("SELECT * from TIPS")
for row in cursor:
    print(row)
conn.commit()
conn.close()

('Zhang', 'Beijing', 1004.0)
('Zhang', 'Beijing', 1004.0)

### 5.2.5  Python存取DBase数据

In [7]:
import pandas as pd
from dbfread import DBF

table = DBF('test.dbf', encoding="utf8") # 打开数据文件，字符集为GB2312
arr = []
for record in table: # 读出表中记录
    dic = {}
    for field in record: # 读出表中字段
        dic[field] = record[field]
    arr.append(dic)
df = pd.DataFrame(arr) # 转换成Pandas的DataFrame
print(df.head())

   姓名  年龄
0  张三  26
1  李四  30